/*------------------------------ Footer ------------------------------*/
#footer {
    height: 5vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

#footer a {
    color: #fff;
}

#footer-box {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/*------------------------------ Name ------------------------------*/
.name {
    font-weight: 600;
    margin: 0px 0px 0px 5px;
}

.name:hover {
    color: #7AA7C8;
}

/*------------------------------ Icons ------------------------------*/
.icons {
    margin: 0px 5px -25px 5px;
    font-size: 30px;
    transition: 0.7s;
}

.icons:hover {
    position: relative;
    bottom: 10px;
    color: #7AA7C8;
    transition: 0.7s;
    box-shadow: 4px 4px #7AA7C8;
}



