#visor {
    width: 305px;
    height: 65px;
    margin: 20px 0px 5px 5px;
    border-radius: 20px;
    color: rgb(9, 5, 58);
    background-color:rgb(68, 89, 134);
    border: 1px solid rgb(9, 5, 58);
}

#visor .value {
    font-size: 28px;
    text-align: right;
    margin: 15px 5px 5px 10px;
}