#home {
    width: 100vw;
    height: 83vh;
}

#home h2 {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 500;
    text-shadow: 4px 4px #FF7C00;
}

#home h2 span {
    font-size: 60px;
    margin-top: -10px;
}
.btn {
    color: #FF8D27;
    background-color: #fff;
    border: 2px solid #FF8D27;
    transition: 0.5s;

}

.btn:hover {
    color: #fff;
    background-color: #FF8D27;
    border: 2px solid #fff;
    transition: 0.8s; 
}

.btn-start {
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    font-weight: 600;
}