/*-------------------- Search --------------------*/

#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#search h1 {
    font-size: 38px;
}

/*-------------------- No Results --------------------*/

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 100px 0px;
}

.no-results p {
    font-size: 18px;
}

.no-results img {
    margin-bottom: 20px;
}