/*-------------------- Footer --------------------*/

#footer {
    width: 50vw;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    color: #000;
}

#footer a {
    color: #000;
}

/*-------------------- Name --------------------*/

.name {
    font-weight: 600;
    margin: 0px 0px 0px 5px;
}

.name:hover {
    color: #FF4000;
    transition: 0.7s;
}

/*-------------------- Icons --------------------*/

.icons {
    margin: 0px 5px -25px 5px;
    font-size: 30px;
    transition: 0.7s;
}

.icons:hover {
    position: relative;
    bottom: 10px;
    color: #FF4000;
    transition: 0.7s;
    box-shadow: 4px 4px #FF4000;
}

/*-------------------- Footer Box --------------------*/

#footer-box {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/*-------------------- Media Queries --------------------*/


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    #footer {
        font-size: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons {
        font-size: 20px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
    #footer {
        font-size: 18px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons {
        font-size: 26px;
    }
 
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
        
    #footer {
        font-size: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons {
        font-size: 24px;
    }
}